*{
    margin: 0;
    padding: 0;
}

/* content css */
.card{
    position: relative;
    display: inline-block;
    margin: 10px;
    text-decoration: none;
    color: var(--color4);
    overflow: hidden;
}
.card::after{
    z-index: 5;
    position: absolute;
    content: "";
    top: 0%;
    left: 100%;
    width: 100%;
    height: 100%;
    background: var(--color4);
    opacity: 0.7;
    transition: 0.3s;
    transform: translateX(0) skew(-45deg);
    transform-origin: bottom left;
}
.card::before{
    z-index: 5;
    position: absolute;
    content: "";
    top: 0%;
    left: -100%;
    width: 100%;
    height: 100%;
    background: var(--color6);
    opacity: 0.7;
    transition: 0.3s;
    transform: translateX(0) skew(-45deg);
    transform-origin: top right;
}
.card:hover::after{
    transform: translateX(-88%) skew(-45deg);
}
.card:hover::before{
    transform: translateX(88%) skew(-45deg);
}
.card a{
    text-decoration: none;
    color: var(--color4);
}
.card a:hover{
    text-decoration: underline;
}
.card>div{
    position: relative;
    z-index: 99;
}
.card>div>*{
    position: relative;
    z-index: 99;
}
.add-card{
    position: relative;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    background: var(--color5);
    box-sizing: border-box;
    border-radius: 20px;
    margin-top: 10px;
    font-size: 500%;
}
/* section 1 --> banner */
.content{
    position: relative;
    width: 100%;
    z-index: 90;
}
.content-wrapper{
    position: relative;
    width: 100%;
}
.banner-wrapper{
    position: relative;
    width: 100%;
    height: 170px;
    background: url('/Pictures/Others/banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-size: cover;

    overflow: hidden;
}

/* section 1 --> banner end */

/* section 2 --> deposits */
.deposits-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.deposits-wrapper>h2{
    width: 100%;
}
.deposits-wrapper>h2>p{
    font-size: 130%;
    margin:  10px 0 10px 10px;
}
.deposits-wrapper>.deposit-box{
    max-width: 300px;
    width: 100%;
    margin: 10px;
}
.deposit-box .transaction-btn{
    position: relative;
    display: inline-block;
    width: 100%;
    border: none;
    padding: 15px 0;
    background: var(--color1); 
    font-size: 110%;
    color: var(--color6);
    bottom: 4px;
    text-align: center;
    text-decoration: none;
}
.deposit-box span{
    position: relative;
    display: none;
    width: 25px;
    height: 12px;
    margin-left: 10px;
    clip-path: polygon(20% 50%, 0 0, 80% 0, 100% 50%, 80% 100%, 0 100%);
    background: var(--color6);

}
.deposit-box>.transaction-btn:hover span{
    display: inline-block;
}
.deposit-card{
    position: relative;
    display: inline-block;
    width: 100%;
    height: 200px;
    background: var(--color5);
    margin: 0;
    box-sizing: border-box;
}
.deposit-card>div>*{
    padding: 0 10px;
}
.deposit-card>div>h3{
    margin-top: 30px;
}
.deposit-card>div>p{
    margin-top: 30px;
}

/* section 2 --> deposits end */

/* section 3 --> cards*/
.cards-wrapper{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
.cards-wrapper>h2{
    width: 100%;
}
.cards-wrapper>h2>p{
    font-size: 130%;
    margin:  10px 0 10px 10px;
}
.card-card{
    position: relative;
    display: inline-block;
    max-width: 300px;
    width: 100%;
    background: var(--color5);
    margin: 10px;
    border-radius: 20px;
}
.card-card>img{
    width: 100%;
    height: 100%;
}
/* section 3 --> cards end */



/* content css end */